body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#273359 ;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 375rem) {
    .container {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  
    .box {
      width: 50rem;
      height: 50rem;
      margin: 3.125rem;
    }
  }

#startBtn{
    height: 3rem;
    width:6rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color:#28a745;
    font-size: medium;
    cursor: pointer;
    margin-top: 4rem;
}

#startBtn:hover {
    background-color: #218838;
  }

.btn-container{
   display: flex;
}
.btn{
    height: 7.25rem;
    width: 7.25rem;
    /* border:0.1rem solid black; */
    border-radius: 1rem;
    margin: 1rem;
    cursor: pointer;
}
.red{
    background-color:#d95980;
}
.yellow{
    background-color:#f99b45 ;
}
.green{
    background-color:#53aac0 ;
}
.purple{
    background-color:#89f9 ;
}
.flash{
    background-color: white;
}
.screenred{
    background-color: red;
}
h2{
    color: white;
}
h3{
    color: gainsboro;
}
